.btn-contador{
    margin: 10px;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    background-color: #928f88;
}
.btn-contador:hover{
    font-weight: 900;
    transform: scale(1.1);
    

}
.span-contador{
    font-size: 20px;
    font-weight: 600;
}