.container-checkout{
    margin-top: 100px;
    margin-left: 10%;
    border: 1px solid black;
    width: 75%;
    padding: 20px;
    box-shadow: -7px 2px 56px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -7px 2px 56px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 2px 56px 4px rgba(0,0,0,0.75);

}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.title-form{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 40px;
}
.btn-form{
    width: 50%;
    margin: 5px;
    font-size: 25px;
}
.btn-compra{
    margin: 20px;
    cursor: pointer;
}
.container-check{
    margin-top: 100px;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
  }
 

.title-check{
    color: #775110

}
.mini-container-check{
    border: 1px solid black;
    background-color: white;
    width: 80%;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}